<html>
        <head lang="en">
            <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="/css/style.css">
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
            <title>Welcome Page</title>
        </head>
    
        <body> 
            <h1>Welcome <%= user.first_name %></h1>
            
            <a href="/">logout</a>

        </body>
    
    </html>